body {
  margin: 0;
  overflow: hidden;
  background: url('images/seattle.png') no-repeat center center fixed;
  background-size: cover;
}
  
#rainCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* This makes sure it stays in the background */
  pointer-events: none; /* So it doesn't block clicks */
}